{% extends 'base.html' %}
{% block container %}
{% load crispy_forms_tags %}

<h2>Registration Form</h2>

{% if request.user.is_authenticated %}

<h3>Thanks for registering</h3>

{% else %}

<h3>Fill out the form please!</h3>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %} 
    {{ form_user | crispy }}

    <button type="submit" class="btn btn-danger">Register</button>
    <hr>
    <p>Already have an acoount? <a href="login">Sign in</a></p>
</form>
{% endif %} {% endblock container %}